
html, body{
	height: 100%;
	font-size: 12px;
	color: #333;
}

body{
	font-family: 'Archivo Black', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
}

a{
	color: inherit;
}
a:hover{
	color: #222;
}

.option{
	width: 70px;
	height: 60px;
}

.option input[type=checkbox]{
	width: 30px;
	height: 30px;
	display: block;
	margin: 0 auto;
}

.option label{
	float: left;
	clear: left;
	width: 70px;
	text-align: center;
	font-size: 0.9em;
	text-shadow: 0 -1px 0 rgba(255,255,255,0.4);
	color: #333;
}

h1, #btnGenerate, .suggestion{
	font-family: 'Bangers', cursive;
}

.info, #infoCurtain, #resultColour, #resultScroll, .optionsWrap, .boxLining, .buttonWrap, #btnGenerate{
	position: absolute;
	display: block;
}

.info{
	width: 36%;
	left: 36%;
	top: 83%;
	height: 5%;
	
	-webkit-transition: width .2s, left .2s;
	   -moz-transition: width .2s, left .2s;
			transition: width .2s, left .2s;
}

.invisible .info{
	width: 50%;
	left: 50%;
}

.logo{
	position: absolute;
	width: 60px;
	height: 60px;
	left: -30px;
	opacity: 0.7;
	bottom: 0;
	z-index: 200;

	-webkit-transition: opacity .2s;
	   -moz-transition: opacity .2s;
			transition: opacity .2s;
}

.invisible .logo{
	opacity: 1;
}

#infoCurtain{
	top: 0;
	bottom: 0;
	width: 0%;
	overflow: auto;
	background-color: #FFF;
	z-index: 180;

	-webkit-transition: width .2s;
	   -moz-transition: width .2s;
			transition: width .2s;
}

#infoCurtain.expanded{
	width: 100%;
}

#infoCurtain .infoContent{
	padding: 1em 1em 5em 1em;
	line-height: 1.6em;
}

h1{
	margin: .4em 0 .6em 0;
	text-align: center;
	font-size: 3em;
}

h2{
	margin: 0 0 0.5em;
}

p{
	margin: 0 0 1em 0;
}

#resultColour, .optionsWrap, .boxLining, #infoCurtain{
	height: 88.5%;
}

#infoCurtain{
	height: 88%;
}

#resultColour{
	top: 0;
	width: 100%;
	left: 0;
	line-height: 1.6em;
	text-align: center;
	opacity: 1;
}

#resultScroll{
	top: 0;
	left: 0;
	width: 100%;
	height: 88%;
	z-index: 130;
	overflow: auto;
	opacity: 1;
	
	-webkit-transition: opacity .2s;
	   -moz-transition: opacity .2s;
			transition: opacity .2s;
}

.invisible #resultScroll{
	opacity: 0;
}

#tblResult{
	width: 100%;
	margin-bottom: 50px;
	border-collapse: collapse;
}

.suggestion{
	padding-left: 20px;
	overflow: hidden;
	font-size: 3em;
}

#resultColour{
	-webkit-transition: opacity .2s;
	   -moz-transition: opacity .2s;
			transition: opacity .2s;
}

.invisible #resultColour, .invisible #resultScroll{
	opacity: 0;
}

.optionsWrap, .buttonWrap{

	background: #f5f6f6;
	background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6));
	background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	background: linear-gradient(70deg,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;

}

.optionsWrap{
	top: 0;
	right: 0;
	width: 90px;
	box-shadow: inset 0 1px 3px rgba(255,255,255,0.4), -1px 0 1px rgba(0,0,0,0.3);

}

.boxLining{
	top: 0;
	width: 86px;
	right: 0;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.3), inset 0 -1px 2px rgba(0,0,0,0.2);
	border-bottom: 2px solid rgba(255,255,255,0.3);
	background: -webkit-linear-gradient(45deg, #CCC 0%, #CCC 48%, #AAA 48%, #AAA 52%, #CCC 52%, #CCC 100%);
 	background: -moz-linear-gradient(45deg, #CCC 0%, #CCC 48%, #AAA 48%, #AAA 52%, #CCC 52%, #CCC 100%);
	background: -o-linear-gradient(45deg, #CCC 0%, #CCC 48%, #AAA 48%, #AAA 52%, #CCC 52%, #CCC 100%);
	background: linear-gradient(45deg, #CCC 0%, #CCC 48%, #AAA 48%, #AAA 52%, #CCC 52%, #CCC 100%);
	background-size: 5px 5px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;

}

.buttonWrap{
	width: 100%;
	top: 88%;
	height: 12%;
	
	box-shadow: 0 -1px 1px rgba(0,0,0,0.3)
}

#btnGenerate{

	left: 4%;
	top: 89%;

	background: #fceabb;
	background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93));
	background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
	
	color: #a87800;
	text-shadow: -1px -1px 1px rgba(99,71,0,0.9), 1px 1px 1px rgba(255,255,255,0.5);
	border-radius: 6px;
	border: 0;
	box-shadow: inset -1px -1px 1px rgba(99,71,0,0.6), -1px -1px 1px rgba(0,0,0,0.4), 1px 1px 1px rgba(255,255,255,0.4);

	width: 92%;
	margin: 0 auto;
	font-size: 3em;
	letter-spacing: 1px;
	height: 10%;
	line-height: 1em;
}

#btnGenerate:active{
	box-shadow: inset 1px 1px 2px rgba(99,71,0,0.8);
	line-height: 1.25em;
}


/* -------------------------- */

#resultColour.unemotional{
	background: #f5f6f6;
	background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6));
	background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	background: linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
}

#tblResult.unemotional{
	color: #333;
}

/* Orange */
#resultColour.positiveAndLively{
	background: #f9c667;
	background: -moz-linear-gradient(top,  #f9c667 0%, #f79621 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c667), color-stop(100%,#f79621));
	background: -webkit-linear-gradient(top,  #f9c667 0%,#f79621 100%);
	background: -o-linear-gradient(top,  #f9c667 0%,#f79621 100%);
	background: -ms-linear-gradient(top,  #f9c667 0%,#f79621 100%);
	background: linear-gradient(to bottom,  #f9c667 0%,#f79621 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 );
}

/* Soft pink */
#resultColour.caring, 
#resultColour.quietPositive{
	background: #febbbb;
	background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febbbb), color-stop(45%,#fe9090), color-stop(100%,#ff5c5c));
	background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
	background: -o-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
	background: -ms-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
	background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 );
}

#tblResult.caring, 
#tblResult.quietPositive{
	color: #2b0000;
}

/* Greyey blue */
#resultColour.negativeThoughts{
	background: #a7cfdf;
	background: -moz-linear-gradient(top,  #a7cfdf 0%, #23538a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a));
	background: -webkit-linear-gradient(top,  #a7cfdf 0%,#23538a 100%);
	background: -o-linear-gradient(top,  #a7cfdf 0%,#23538a 100%);
	background: -ms-linear-gradient(top,  #a7cfdf 0%,#23538a 100%);
	background: linear-gradient(to bottom,  #a7cfdf 0%,#23538a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
}

#tblResult.negativeThoughts{
	color: white;
}

#resultColour.reactive{
	background: #cb60b3;
	background: -moz-linear-gradient(top,  #cb60b3 0%, #ad1283 50%, #de47ac 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(50%,#ad1283), color-stop(100%,#de47ac));
	background: -webkit-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%);
	background: -o-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%);
	background: -ms-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%);
	background: linear-gradient(to bottom,  #cb60b3 0%,#ad1283 50%,#de47ac 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 );
}

#tblResult.reactive{
	color: #ffd3f3;
}

/* Red */
#resultColour.agitation, 
#resultColour.negativeAndForceful{
	background: #a90329;
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

#tblResult.agitation, 
#tblResult.negativeAndForceful{
	color: white;
}

/* Soft Blue */
#resultColour.positiveThoughts{
	background: #a9e4f7;
	background: -moz-linear-gradient(top,  #a9e4f7 0%, #0fb4e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e4f7), color-stop(100%,#0fb4e7));
	background: -webkit-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%);
	background: -o-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%);
	background: -ms-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%);
	background: linear-gradient(to bottom,  #a9e4f7 0%,#0fb4e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 );
}

/* Grey */
#resultColour.negativeAndPassive{
	background: #7d7e7d;
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}

#tblResult.negativeAndPassive{
	color: #DDD;
}

/* Green */
#resultColour.negativeAndNotInControl{
	background: #f8ffe8;
	background: -moz-linear-gradient(top,  #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8ffe8), color-stop(33%,#e3f5ab), color-stop(100%,#b7df2d));
	background: -webkit-linear-gradient(top,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%);
	background: -o-linear-gradient(top,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%);
	background: -ms-linear-gradient(top,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%);
	background: linear-gradient(to bottom,  #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=0 );
}

#tblResult.negativeAndNotInControl{
	color: #414F10;
}
